.loginModal {
  width: 290px;
  /* height: 390px; */
  background-color: var(--body-200);
  border-radius: 26px;
  overflow: hidden;
  padding-bottom: 20px;
}

.imageWrapper {
  text-align: center;
}

.imageWrapper img {
  margin: 30px auto 24px;
}

.easyloginMessage {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: var(--title-400);
}

.shareloginMessage {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  margin-top: 12px;
  text-align: center;
  color: var(--body-900);
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.loginButton {
  width: 250px;
  height: 52px;
  background-color: var(--main-primary-500);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginButton span {
  font-size: 16px;
  font-weight: 700;
  color: var(--main-secondary-100);
}

.nextLoginButton {
  margin-top: 10px;
  width: 250px;
  height: 52px;
  background-color: var(--body-200);
  border-radius: 6px;
  font-weight: 500;
}

.nextLoginButton span {
  font-size: 16px;
  font-weight: 500;
  color: var(--main-primary-500);
}

.popupLoginModal {
  position: relative;
  width: 350px;
  height: 100px;
  background-color: var(--title-700);
  opacity: 0.8;
  border-radius: 10px;
  padding-top: 16.5px;
  text-align: center;
}

.curiousWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.curiousMessage p {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: var(--body-200);
}

.curiousXImage img {
  position: absolute;
  top: 10px;
  right: 10px;
}

.curiousButton {
  width: 148px;
  height: 40px;
  border-radius: 100px;
  background-color: var(--main-primary-500);
  font-size: 12px;
  font-weight: 700;
  color: var(--body-100);
  line-height: 18px;
  gap: 10px;
}

.questionModal {
  width: 290px;
  height: 236px;
  background-color: var(--body-200);
  border-radius: 26px;
  box-shadow: 0 3px 6px 0 rgba(204, 204, 204, 0.25);
}

.modalContent {
  text-align: center;
}

.questionModalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  padding-top: 37px;
  color: var(--title-400);
}

.questionModalContent p {
  margin-right: 2px;
}

.signModalContent {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: var(--body-950);
}

.questionButton {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  width: 250px;
  height: 52px;
  border-radius: 6px;
  background-color: var(--main-primary-500);
  color: var(--body-100);
  box-shadow: 0 3px 6px 0 rgba(242, 242, 242, 0.1);
}

.cancelButton {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  width: 250px;
  height: 52px;
  border-radius: 6px;
  background-color: var(--body-200);
  color: var(--main-primary-500);
  box-shadow: 0 3px 6px 0 rgba(242, 242, 242, 0.1);
}

.DeleteModal {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 290px;
  height: 236px;
  background-color: var(--body-200);
  border-radius: 26px;
}

.DeleteImageWrapper {
  margin-top: 30px;
}

.DeleteModalMessage {
  margin-top: 17px;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.DeleteButton {
  margin-top: 18px;
  width: 250px;
  height: 52px;
  background-color: var(--main-primary-500);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  color: var(--main-secondary-100);
}
.develop_modal {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 180px;
  background-color: var(--body-200);
  border-radius: 26px;
  padding: 36px 20px 20px 20px;
}
.develop_modal_title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--title-400);

  /* Botton/Botton-XL */
  font-size: 18px;
  font-weight: 700;
  line-height: 150%; /* 27px */
}
.develop_btn {
  margin-top: 20px;
}

.goHomeModal {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 388px;
  background-color: var(--body-200);
  border-radius: 26px;
}

.goHomeImageWrapper {
  padding-top: 70px;
  text-align: center;
}

.goHomeModalMessage {
  margin-top: 49px;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: var(--title-400);
}

.goMainModalMessage {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: var(--body-950);
}

.CheckButton {
  margin-top: 30px;
  width: 250px;
  height: 52px;
  background-color: var(--main-primary-500);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  color: var(--main-secondary-100);
}

.upLoadModal {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 388px;
  background-color: var(--body-200);
  border-radius: 26px;
}

.upLoadImageWrapper {
  padding-top: 20px;
  text-align: center;
}

.upLoadMessage {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: var(--title-400);
}

.waitResultMessage {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: var(--body-950);
}
