.tabsMenuContainer {
  display: flex;
  margin-top: 60px;
  justify-content: space-around;
  border-bottom: 1px solid var(--background-200);
  height: 44px;
  width: 100%;
  padding: 4px 20px;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: var(--title-100);
  padding: 12px 10px;
}

.tab.active {
  color: var(--main-primary-500);
}

.tabsProfileContainer {
  width: 100%;
  border-bottom: 1px solid var(--background-200);
}

.profileTab {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 2px solid var(--line-100);
}

.tabLabel {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--body-800);
}

.tabCount {
  font-size: 16px;
  font-weight: 700;
  color: var(--main-primary-500);
}

.active {
  border-bottom-color: var(--title-100);
}

.tabsContainer {
  display: flex;
  justify-content: space-around;
}

.profileTab.active .tabContent .tabLabel {
  font-weight: 700;
  color: var(--title-400);
}

.tabContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
