:root {
  --main-primary-50: #f5fffa;
  --main-primary-100: #10fe84;
  --main-primary-200: #01fe7c;
  --main-primary-300: #01ef75;
  --main-primary-400: #01df6d;
  --main-primary-500: #01d066;
  --main-primary-600: #01c15e;
  --main-primary-700: #01b257;
  --main-primary-800: #01a24f;
  --main-primary-900: #019348;

  --main-secondary-100: #ffffff;
  --main-secondary-200: #ffffff;
  --main-secondary-300: #fafaef;
  --main-secondary-400: #f4f4dc;
  --main-secondary-500: #eeedc8;
  --main-secondary-600: #e8e7b5;
  --main-secondary-700: #e2e1a2;
  --main-secondary-800: #dcdb8e;
  --main-secondary-900: #d6d57b;

  --title-100: #4d4d4d;
  --title-200: #404040;
  --title-300: #333333;
  --title-400: #262626;
  --title-500: #1a1a1a;
  --title-600: #0d0d0d;
  --title-700: #000000;

  --body-100: #ffffff;
  --body-200: #f5f5f5;
  --body-300: #ebebeb;
  --body-400: #e0e0e0;
  --body-500: #d6d6d6;
  --body-600: #cccccc;
  --body-700: #c2c2c2;
  --body-800: #b8b8b8;
  --body-900: #ababab;
  --body-950: #9d9d9d;

  --line-100: #eeeeee;
  --line-200: #bbbbbb;
  --line-300: #141414;

  --background-100: #fafafa;
  --background-200: #f2f2f2;
  --background-300: #393939;
  --background-400: #242424;

  --dim-100: #fafafa;
  --dim-200: #f2f2f2;
  --dim-300: #393939;
  --dim-400: #242424;

  --state-notification-orange-100: #ffc299;
  --state-notification-orange-200: #ffb380;
  --state-notification-orange-300: #ffa466;
  --state-notification-orange-400: #ff954d;
  --state-notification-orange-500: #ff7517;
  --state-notification-orange-600: #ff6700;
  --state-notification-orange-700: #e55d00;
  --state-notification-orange-800: #cc5300;
  --state-notification-orange-900: #b24800;

  --state-infomation-blue-100: #70b5fa;
  --state-infomation-blue-200: #58a8f9;
  --state-infomation-blue-300: #3f9cf8;
  --state-infomation-blue-400: #278ff7;
  --state-infomation-blue-500: #0c81f6;
  --state-infomation-blue-600: #0875e2;
  --state-infomation-blue-700: #0769ca;
  --state-infomation-blue-800: #065cb1;
  --state-infomation-blue-900: #054f99;

  --state-wraning-red-100: #ff7e70;
  --state-wraning-red-200: #ff6857;
  --state-wraning-red-300: #ff513d;
  --state-wraning-red-400: #ff3a24;
  --state-wraning-red-500: #ff240c;
  --state-wraning-red-600: #f01800;
  --state-wraning-red-700: #d61500;
  --state-wraning-red-800: #bd1300;
  --state-wraning-red-900: #a31000;
}

.main_header_title_1 {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.main_header_title_2 {
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.main_header_title_3 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.main_header_title_4 {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.main_header_title_5 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.sub_title_1 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}

.sub_title_1.bold {
  font-weight: 700;
}

.sub_title_2 {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}

.sub_title_2.bold {
  font-weight: 700;
}

.sub_title_3 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}

.sub_title_3.bold {
  font-weight: 700;
}

.sub_title_4 {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}

.sub_title_4.bold {
  font-weight: 700;
}

.body_1 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}
.body_1.regular {
  font-weight: 400;
}
.body_1.bold {
  font-weight: 700;
}

.body_2 {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}
.body_2.regular {
  font-weight: 400;
}
.body_2.bold {
  font-weight: 700;
}

.body_3 {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}
.body_3.regular {
  font-weight: 400;
}
.body_3.bold {
  font-weight: 700;
}

.body_4 {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}
.body_4.regular {
  font-weight: 400;
}
.body_4.bold {
  font-weight: 700;
}

.button_txt_xl {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}
.button_txt_xl.regular {
  font-weight: 400;
}
.button_txt_xl.bold {
  font-weight: 700;
}

.button_txt_l {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}
.button_txt_l.regular {
  font-weight: 400;
}
.button_txt_l.bold {
  font-weight: 700;
}

.button_txt_m {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}
.button_txt_m.regular {
  font-weight: 400;
}
.button_txt_m.bold {
  font-weight: 700;
}

.button_txt_s {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}
.button_txt_s.regular {
  font-weight: 400;
}
.button_txt_s.bold {
  font-weight: 700;
}

.caption_txt_1 {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}
.caption_txt_1.regular {
  font-weight: 400;
}
.caption_txt_1.bold {
  font-weight: 700;
}

.caption_txt_2 {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}
.caption_txt_2.regular {
  font-weight: 400;
}
.caption_txt_2.bold {
  font-weight: 700;
}
